<div class="main-header-left d-none d-lg-block">
    <div class="logo-wrapper"><a><img class="blur-up lazyloaded" src="" alt=""></a></div>
</div>
<div class="sidebar custom-scrollbar">
    <div class="sidebar-user text-center">
        <div><img class="img-60 rounded-circle" src="" alt="#">
        </div>
        <h6 class="mt-3 f-14"> Name </h6>
        <p> Role </p>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="javascript:void(0)" class="sidebar-header">

                <i class="fa fa-angle-right pull-right"></i>
            </a>

            <!-- 2nd Level Menu -->
            <ul class="sidebar-submenu">
                <li>
                    <!-- Sub -->
                    <a href="javascript:void(0)">
                        <i class="fa fa-circle"></i><span> Name </span>
                        <i class="fa fa-angle-down pull-right"></i>
                    </a>

                    <!-- 3rd Level Menu -->
                    <ul class="sidebar-submenu">
                        <li>
                            <!-- Link -->
                            <a>
                                <i class="fa fa-circle"></i><span> Name </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>